---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/blog/FormattedDate.astro";
import Nav from "../components/home/Nav.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="grain-container">
        <main>
            <Nav />
            <div class="fade-in">
                <hr class="section-divider pop-in" />
                <article>
                    <div class="prose">
                        <div class="title">
                            <h1>{title}</h1>
                            <div class="date">
                                Date: <FormattedDate date={pubDate} />
                                {
                                    updatedDate && (
                                        <div class="last-updated-on">
                                            Last updated on{" "}
                                            <FormattedDate date={updatedDate} />
                                        </div>
                                    )
                                }
                            </div>
                        </div>
                        <slot />
                        <hr class="section-divider pop-in" />
                    </div>
                </article>
            </div>
        </main>
    </body>
</html>
<style>
    .prose {
        color: rgb(var(--gray-dark));
    }

    .title {
        margin-bottom: 3rem;
        line-height: 1;
    }

    .title h1 {
        margin: 0 0 0.5em 0;
    }

    .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
    }

    .last-updated-on {
        font-style: italic;
    }

    a {
        color: inherit;
        text-underline-offset: 2px;
    }
</style>
